<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartapp.depc_ice">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application xmlns:tools="http://schemasr.android.com/tools"
        android:name=".DepcApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:ignore="MissingClass"
        tools:replace="allowBackup,supportsRtl">

        <activity
            android:name=".Activities.Splash.SplahsActivity"
            android:label="@string/app_name"
            android:logo="@drawable/back"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.Login.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="Inicio Sesión"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Home.MainActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.AcercaDe.AcercaDeActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="Acerca de"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.VerDatos.VerDatosActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="Datos Usuario"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Novedades.NovedadesActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="Novedades"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.CrearClientes.CrearClientesActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="Crear Cliente"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Agenda.AgendaActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="Agenda Pedidos"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Despachos.DespachosActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="Despachos"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Clientes.ClientesActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="Clientes"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Productos.ProductosActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="Productos"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Productos.Detalle.DetalleProductoActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="Detalle"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.DetalleCliente.DetalleClienteActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="Detalle Cliente"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.DetalleCliente.EditarClientesActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="Detalle Cliente"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.DetalleCliente.DetalleUbicacionClienteActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="Ubicación Cliente"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.DetalleCliente.MantDireccionActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="Ubicación Cliente"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Mapa.MapsActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/back"
            android:label="Mapa"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Utils.PhotoViewer"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:icon="@drawable/back"
            android:label="Foto"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Pedido.RegistroPedidoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:icon="@drawable/back"
            android:label="Pedido"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Utils.PDFActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:icon="@drawable/back"
            android:label="PDF"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Pedido.DetallePedidoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:icon="@drawable/back"
            android:label="Detalle Pedido"
            android:screenOrientation="portrait" />

         <activity
            android:name=".Activities.ScannerQr.ScanQrActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:icon="@drawable/back"
            android:label="Escanear QR"
            android:screenOrientation="portrait" />

         <activity
            android:name=".Activities.Pedido.ListaPredidosActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:icon="@drawable/back"
            android:label="Lista Pedidos"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Pedido.BusquedaPedidoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:icon="@drawable/back"
            android:label="Catálogo de Productos"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Cobros.CobrosActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:icon="@drawable/back"
            android:label="Cobros"
            android:screenOrientation="portrait" />

         <activity
            android:name=".Activities.Cobros.DetalleCobroActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:icon="@drawable/back"
            android:label="Detalle Cobros"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Cobros.FormaPagoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:icon="@drawable/back"
            android:label="Forma de Pago"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Agenda.PlanficadorPedidosActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:icon="@drawable/back"
            android:label="Planificador"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Agenda.DetallePlanificacionActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:icon="@drawable/back"
            android:label="Visita Cliente"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Despachos.DetalleDespachosPlanificacionActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:icon="@drawable/back"
            android:label="Despacho Cliente"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />


    </application>

</manifest>